[user]
	name = Tetsuharu Ohzeki
	email = tetsuharu.ohzeki@gmail.com

[core]
	autocrlf = false
	editor = vim

[mergetool]
	keepBackup = false

[merge]
	log = true # Include a first line for each of commit messages.

[pull]
	rebase = true

[color]
	ui = auto

[alias]
	glog = log --graph --decorate --pretty=oneline --abbrev-commit --branches
	amend = commit --amend
	amend-no-edit = commit --amend --no-edit
	raw-diff = diff --no-prefix
	fixup = commit --fixup
	llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
	# based on https://gist.github.com/junegunn/f4fca918e937e6bf5bad?permalink_comment_id=3715673#gistcomment-3715673
	fzlog = !"\
        function gfzf() {\
            local filter;\
            if [ -n $@ ] && [ -e $@ ]; then\
                filter=\"-- $@\";\
            fi;\
            git log\
                --graph --color=always --abbrev=7\
                --format=format:\"%C(bold blue)%h%C(reset) %C(dim white)%an%C(reset)%C(bold yellow)%d%C(reset) %C(white)%s%C(reset) %C(bold green)(%ar)%C(reset)\" $@ |\
                    fzf --ansi --no-sort --layout=reverse --tiebreak=index\
                        --preview=\"f() { set -- \\$(echo -- \\$@ | rg -o '\\b[a-f0-9]{7,}\\b'); [ \\$# -eq 0 ] || git show --color=always \\$1 $filter | less -R; }; f {}\" \
                        --bind=\"ctrl-d:half-page-down,ctrl-u:half-page-up,ctrl-j:preview-down,ctrl-k:preview-up,ctrl-f:preview-page-down,ctrl-b:preview-page-up\"\
                        --bind=\"ctrl-m:execute:\
                                (rg -o '\\b[a-f0-9]{7,}\\b' | head -1 |\
                                xargs -I % -- git show --color=always % | less -R) << 'FZFEOF'\n                                                                                                    \
                                {}\
                                \nFZFEOF\"\
                        --preview-window=right:60%;\
        };\
        gfzf\
    "


[init]
	defaultBranch = main

[i18n]
	filesEncoding = utf-8

[include]
	path = ~/.gitconfig_os
[cinnabar]
	version-check = 1706092227
