[user]
	name = Tetsuharu Ohzeki
	email = tetsuharu.ohzeki@gmail.com

[core]
	autocrlf = false
	editor = vim
	excludesfile = ~/.gitignore_global

[mergetool]
	keepBackup = false

[merge]
	log = true # Include a first line for each of commit messages.

[pull]
	rebase = true

[color]
	ui = auto

[alias]
	glog = log --graph --decorate --branches
	amend = commit --amend
	raw-diff = diff --no-prefix
	fixup = commit --fixup
	hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
	llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
	fdiff = "!git hist | fzf | awk '{print $2}' | xargs -I {} git diff {}^ {}"

[init]
	defaultBranch = main

[i18n]
	filesEncoding = utf-8

[include]
	path = ~/.gitconfig_os
